body {
    font-family: adobe-caslon-pro, serif;
    font-style: normal;
}

.links {
    margin-top: 5em;
    margin-left: 10em;
    max-width: 50%;
}

h1 {
    font-weight: 600;
}

li {
    list-style: none;
}

a {
    color: #1CA8E0;
}

/* Media Queries: Tablet Landscape */
@media only screen and (max-width: 950px) {
    .links {
       margin-left: 10px;
       margin-right: 10px;
    }
 }
 
 @media only screen and (max-width: 600px) {
    .links {
       margin-left: 0;
       margin-right: 0;
    }
 }