body {
    font-family: adobe-caslon-pro, serif;
    font-style: normal;
    margin-top: 5em;
    margin-left: 10em;
    max-width: 50%;
    font-size: 18px;
}


h1 {
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
}

li {
    list-style: none;
    margin-top: 0px;
}

a {
    color: #1CA8E0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }

/* Media Queries: Tablet Landscape */
@media only screen and (max-width: 950px) {
    body {
        margin-top: 3em;
        margin-left: 5em;

    }
 }
 
 @media only screen and (max-width: 600px) {
    body {
        margin-top: 5px;
        margin-left: 10px;
        max-width: 100%;
    }
 }