body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #DADADA;
    margin-top: 5em;
    margin-left: 10em;
    max-width: 50%;
    font-size: 18px;
    background-color: #fff;
    text-align: center;
}

.videoContainer {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-attachment: scroll;
    overflow: hidden;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100%; 
    max-height: auto;
    z-index: 1;
    opacity: 0.4;
}

.main-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    z-index: 3;
}

.main-menu-freelance {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
}

img {
    max-width: 10%;
    height: auto;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 400;
    padding-top: 0px;
    margin-bottom: 2px;
    line-height:1.5em;
    color: #000;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
    color: #19191a;
}

li {
    list-style: none;
    margin-top: 0px;
}

a {
    color: #1CA8E0;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

a:hover {
    color: rgb(147, 150, 151);
    text-decoration: none;
  }

/* Media Queries: Tablet Landscape */
@media only screen and (max-width: 950px) {
    body {
        margin-top: 3em;
        margin-left: 5em;

    }

    #myVideo {
        visibility: hidden;

    }
 }
 
 @media only screen and (max-width: 600px) {
    body {
        margin-top: 5px;
        width: 80%;
    }

    p {
        margin-right: 0;
    }

    .main-menu {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
    }

    #myVideo {
        visibility: hidden;

    }
 }